/* Roboto font by google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* first-section */

.first-section {
  color: #e5e7eb;
  background-color: #1f2937;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* header */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0; margin: 0 12vw;
}
nav .logo {
  color: #f9faf8;
  font-size: 24px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

/* hero */

.hero-back {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero {
  display: flex;
  gap: 20px;
  margin: 0 12vw;
}
.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-side {
  flex: 1;
  background-color: #ffffff7d;
}
.left-side h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.left-side button {
  font-size: inherit;
  color: inherit;
  font-weight: bold;
  background-color: #3882f6;
  padding: 8px 30px;
  align-self: flex-start;
  border-radius: 10px;
  border: none;
}

/* second-section */
.second-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.second-section h2 {
  text-align: center;
  padding: 50px 0;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}
.second-section ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.second-section ul li {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.second-section ul li div {
  height: 170px;
  border: thick solid #3882f6;
  border-radius: 20px;
}
.second-section ul li p {
  text-align: center;
}

/* third-section */
.third-section {
  height: 60vh;
  padding: 0 18vw;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.third-section .quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}
.third-section .quote-author {
  text-align: end;
  font-weight: 900;
  font-size: 20px;
}

/* fourth section */
.fourth-section {
  color: #e5e7eb;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fourth-section .cta {
  width: 70%;
  padding: 40px 0;
  background-color: #3882f6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
}
.cta-title {
  font-size: 22px;
  font-weight: bold;
}
.cta button {
  font-size: inherit;
  padding: 8px 30px;
  border-radius: 10px;
  color: inherit;
  border-color: #e5e7eb;
  background-color: inherit;
}