* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color: #e5e7eb;
}
a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 14px 0; margin: 0 14vw;
}
nav .logo {
  color: #f9faf8;
  font-size: 24px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}